%contentTitle {
  color: $font-color-default;
  font-family: $fontFamily-default;
  font-size: $font-size-title;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.3333;
  text-align: center;
}
